In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/df-prep-fixed/df_prep (1).csv

In [2]:
df = pd.read_csv('/kaggle/input/df-prep-fixed/df_prep (1).csv',encoding='utf-8')
df.columns

Index(['Unnamed: 0', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours', 'Month', 'WeekDay', 'Year'],
      dtype='object')

In [3]:
df = df.drop(['Unnamed: 0'],axis=1)
df

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,WeekDay,Year
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,2015
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,2015
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,2015
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,2015
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,2018-05-23,179,22,40,237.656,22,1,2,0,8,5,2,2018
696,True,False,False,False,2018-05-23,225,26,28,237.656,24,0,1,2,3,5,2,2018
697,True,False,False,False,2018-05-24,330,16,28,237.656,25,1,0,0,8,5,3,2018
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,1,0,0,2,5,3,2018
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,0,1,1,2,5,3,2018

In [4]:
df['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(df['Absenteeism Time in Hours'] > 
                   df['Absenteeism Time in Hours'].median(),1, 0)

In [6]:
df['Excessive Absenteeism'] = targets
df

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,WeekDay,Year,Excessive Absenteeism
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,2015,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,2015,0
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,2015,0
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,2015,1
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,2018-05-23,179,22,40,237.656,22,1,2,0,8,5,2,2018,1
696,True,False,False,False,2018-05-23,225,26,28,237.656,24,0,1,2,3,5,2,2018,0
697,True,False,False,False,2018-05-24,330,16,28,237.656,25,1,0,0,8,5,3,2018,1
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,1,0,0,2,5,3,2018,0
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,0,1,1,2,5,3,2018,0

In [7]:
df = df[['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Month','WeekDay','Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours','Excessive Absenteeism']]

In [8]:
#sprawdzamy rozkład danych excessive_absenteeism: cutoff:mediana -->stosunek 0 do 1 powinien być w granicach 0,4-0,6
targets.sum()/targets.shape[0]

0.45571428571428574

In [9]:
#checkpoint= preprocessing data 
data_with_targets = df.drop(['Absenteeism Time in Hours'],axis=1)
data_with_targets

,Reason_1,Reason_2,Reason_3,Reason_4,Month,WeekDay,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,1
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0,0
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,1
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,2,179,22,40,237.656,22,1,2,0,1
696,True,False,False,False,5,2,225,26,28,237.656,24,0,1,2,0
697,True,False,False,False,5,3,330,16,28,237.656,25,1,0,0,1
698,False,False,False,True,5,3,235,16,32,237.656,25,1,0,0,0
699,False,False,False,True,5,3,291,31,40,237.656,25,0,1,1,0

In [10]:
df is data_with_targets

False

In [11]:
data_with_targets.shape

(700, 15)

In [12]:
# .iloc: [row indices,column indices] -isolating the target column: excessive absenteeism
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month,WeekDay,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,2,179,22,40,237.656,22,1,2,0
696,True,False,False,False,5,2,225,26,28,237.656,24,0,1,2
697,True,False,False,False,5,3,330,16,28,237.656,25,1,0,0
698,False,False,False,True,5,3,235,16,32,237.656,25,1,0,0
699,False,False,False,True,5,3,291,31,40,237.656,25,0,1,1

In [13]:
#scaling preparation-Standardization
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [14]:
#from sklearn.preprocessing import StandardScaler
#abs_scaler = StandardScaler()
#applied standardizaiton: substracting mean and division by standard deviation

In [15]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    
    def __init__(self,columns):
        
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    
    
    def fit(self, X, y=None):
        self.scaler = StandardScaler()
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    

    def transform(self, X, y=None, copy=None):
        
        init_col_order = X.columns
        
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [16]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month', 'WeekDay',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [17]:
columns_to_scale = [ 'Month', 'WeekDay',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pets']

In [18]:
abs_scaler = CustomScaler(columns_to_scale)

In [19]:
#collecting standardization information: mean and stdev
#naprawione przez:https://stackoverflow.com/questions/70587280/sklearn-attributeerror-customscaler-object-has-no-attribute-copy
abs_scaler.fit(unscaled_inputs)

/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3785: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

CustomScaler(columns=['Month', 'WeekDay', 'Transportation Expense',
                      'Distance to Work', 'Age', 'Daily Work Load Average',
                      'Body Mass Index', 'Children', 'Pets'])

abs_scaler

In [20]:
#StandardScaler are compatible with pandas, but such transformations switches from pandas to ndarray
scaled_inputs = abs_scaler.transform(unscaled_inputs)

In [21]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month,WeekDay,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,False,False,False,True,0.182726,-0.683704,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
1,False,False,False,False,0.182726,-0.683704,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690
2,False,False,False,True,0.182726,-0.007725,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690
3,True,False,False,False,0.182726,0.668253,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690
4,False,False,False,True,0.182726,0.668253,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,-0.388293,-0.007725,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690
696,True,False,False,False,-0.388293,-0.007725,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663
697,True,False,False,False,-0.388293,0.668253,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690
698,False,False,False,True,-0.388293,0.668253,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690
699,False,False,False,True,-0.388293,0.668253,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487

In [22]:
#splitting and shuffling the data:
from sklearn.model_selection import train_test_split

In [23]:
#targets: excessive absenteeism
#inputs: the rest  
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4     Month   WeekDay  \
 279      True     False     False     False  0.753746 -0.007725
 334      True     False     False     False  1.324766 -0.007725
 219     False     False     False      True -0.388293  1.344231
 288      True     False     False     False  0.753746 -1.359682
 660      True     False     False     False -0.673803 -1.359682
 ..        ...       ...       ...       ...       ...       ...
 51      False     False     False     False  0.753746 -1.359682
 452     False     False     False      True -0.102784 -1.359682
 142     False     False     False      True -1.244823  1.344231
 161      True     False     False     False -0.959313  0.668253
 46      False     False     False      True  0.753746 -1.359682

      Transportation Expense  Distance to Work       Age  \
 279                0.356940         -0.330735  0.718933
 334                0.568211          1.359154 -0.065439
 219                2.092381          1.494345 -1.320435
 288               -0.654143          1.426749  0.248310
 660                2.213108         -0.871500 -0.849811
 ..                      ...               ...       ...
 51                 0.040034         -0.263140 -1.320435
 452               -0.654143          1.426749  0.248310
 142                0.568211          1.359154 -0.065439
 161               -0.654143         -0.263140 -1.006686
 46                -0.654143          1.426749  0.248310

      Daily Work Load Average  Body Mass Index  Education  Children      Pets
 279                 0.560476        -0.878984          0 -0.919030 -0.589690
 334                 0.305783        -0.878984          0  2.679969 -0.589690
 219                 2.677510         0.061825          0 -0.019280  2.843016
 288                 0.560476         1.002633          0 -0.919030 -0.589690
 660                -0.637953        -0.408580          0  1.780219 -0.589690
 ..                       ...              ...        ...       ...       ...
 51                 -0.758273        -0.643782          0 -0.019280  1.126663
 452                -0.446195         1.002633          0 -0.919030 -0.589690
 142                 0.769711        -0.878984          0  2.679969 -0.589690
 161                 1.786584        -1.819793          1 -0.919030 -0.589690
 46                 -0.758273         1.002633          0 -0.919030 -0.589690

 [525 rows x 14 columns],
      Reason_1  Reason_2  Reason_3  Reason_4     Month   WeekDay  \
 183     False     False     False      True -0.959313 -1.359682
 528      True     False     False     False  1.039256  2.696187
 23      False     False     False      True  0.468236  1.344231
 37       True     False     False     False  0.468236  0.668253
 102     False     False     False      True  1.610276  0.668253
 ..        ...       ...       ...       ...       ...       ...
 273     False     False     False     False  0.753746  0.668253
 399     False     False     False      True -0.959313 -0.007725
 84      False     False     False      True  1.324766  0.668253
 155     False     False     False      True -0.959313 -0.683704
 213     False     False     False     False -0.388293 -0.007725

      Transportation Expense  Distance to Work       Age  \
 183                0.040034         -0.263140 -1.320435
 528                0.190942         -0.939096 -0.692937
 23                 0.568211          1.359154 -0.065439
 37                 1.036026          1.359154 -0.692937
 102                0.040034         -0.263140 -1.320435
 ..                      ...               ...       ...
 273                0.190942         -0.668713  1.032682
 399                2.092381          1.494345 -1.320435
 84                 1.036026          0.074838  0.562059
 155                1.036026          1.359154 -0.692937
 213                0.854936         -1.682647  0.405184

      Daily Work Load Average  Body Mass Index  Education  Children      Pets
 183                 1.786584        -0.643782          0 -0.019280  1.126663
 528                 0.326336        -0.408580          1 -0.919030 -0.589690
 23                 -1.647399        -0.878984          0  2.679969 -0.589690
 37                 -1.647399        -0.878984          0 -0.919030 -0.589690
 102                -0.262439        -0.643782          0 -0.019280  1.126663
 ..                       ...              ...        ...       ...       ...
 273                 0.560476         2.649049          0 -0.019280 -0.589690
 399                -0.685486         0.061825          0 -0.019280  2.843016
 84                  0.863727        -0.408580          0 -0.019280  0.268487
 155                 1.786584        -0.878984          0 -0.919030 -0.589690
 213                 2.677510        -0.643782          0  0.880469 -0.589690

 [175 rows x 14 columns],
 array([1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
        1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
        0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
        0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
        0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
        0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0]),
 array([0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
        0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
        1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0])]

In [24]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size =0.8,random_state=1)

In [25]:
print(x_train.shape,x_test.shape)

(560, 14) (140, 14)

In [26]:
#Model training and its evaluation
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [27]:
reg = LogisticRegression()

In [28]:
reg.fit(x_train,y_train)

LogisticRegression()

In [29]:
reg.score(x_train,y_train)

0.7732142857142857

In [30]:
#building score method manually[!!!!]
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1])

In [31]:
y_train

array([0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [32]:
#comparison of model prediction with y_train
np.sum(model_outputs == y_train)

433

In [33]:
model_outputs.shape

(560,)

In [34]:
score = np.sum(model_outputs == y_train)/model_outputs.shape[0]
score

0.7732142857142857

In [35]:
#estimating the intercept and the coefficients 
#log(odds) = b0 +b1x1+b2x2 etc... b0:intercept, bn: coefficients

In [36]:
#getting intercept
reg.intercept_

array([-1.70385236])

In [37]:
#getting coeffs
reg.coef_

array([[ 2.80324293,  0.92862395,  3.04646447,  0.87654633,  0.11556705,
        -0.21764524,  0.59253702, -0.03025666, -0.2487007 , -0.03849291,
         0.26778422, -0.07277632,  0.49852383, -0.31056797]])

In [38]:
feature_names = unscaled_inputs.columns.values

In [39]:
summary_tab = pd.DataFrame (columns=['Feature_name'],data=feature_names)
summary_tab['Coefficient'] = np.transpose(reg.coef_)
summary_tab

               Feature_name  Coefficient
0                  Reason_1     2.803243
1                  Reason_2     0.928624
2                  Reason_3     3.046464
3                  Reason_4     0.876546
4                     Month     0.115567
5                   WeekDay    -0.217645
6    Transportation Expense     0.592537
7          Distance to Work    -0.030257
8                       Age    -0.248701
9   Daily Work Load Average    -0.038493
10          Body Mass Index     0.267784
11                Education    -0.072776
12                 Children     0.498524
13                     Pets    -0.310568

In [40]:
summary_tab.index = summary_tab.index + 1

In [41]:
summary_tab.loc[0] = ['Intercept',reg.intercept_[0]]

In [42]:
summary_tab = summary_tab.sort_index()
summary_tab

               Feature_name  Coefficient
0                 Intercept    -1.703852
1                  Reason_1     2.803243
2                  Reason_2     0.928624
3                  Reason_3     3.046464
4                  Reason_4     0.876546
5                     Month     0.115567
6                   WeekDay    -0.217645
7    Transportation Expense     0.592537
8          Distance to Work    -0.030257
9                       Age    -0.248701
10  Daily Work Load Average    -0.038493
11          Body Mass Index     0.267784
12                Education    -0.072776
13                 Children     0.498524
14                     Pets    -0.310568

In [43]:
summary_tab['Odds_ratio'] = np.exp(summary_tab.Coefficient)
summary_tab

               Feature_name  Coefficient  Odds_ratio
0                 Intercept    -1.703852    0.181981
1                  Reason_1     2.803243   16.498062
2                  Reason_2     0.928624    2.531024
3                  Reason_3     3.046464   21.040822
4                  Reason_4     0.876546    2.402588
5                     Month     0.115567    1.122510
6                   WeekDay    -0.217645    0.804411
7    Transportation Expense     0.592537    1.808571
8          Distance to Work    -0.030257    0.970196
9                       Age    -0.248701    0.779813
10  Daily Work Load Average    -0.038493    0.962239
11          Body Mass Index     0.267784    1.307065
12                Education    -0.072776    0.929809
13                 Children     0.498524    1.646289
14                     Pets    -0.310568    0.733030

In [44]:
summary_tab.sort_values('Odds_ratio',ascending=False)

               Feature_name  Coefficient  Odds_ratio
3                  Reason_3     3.046464   21.040822
1                  Reason_1     2.803243   16.498062
2                  Reason_2     0.928624    2.531024
4                  Reason_4     0.876546    2.402588
7    Transportation Expense     0.592537    1.808571
13                 Children     0.498524    1.646289
11          Body Mass Index     0.267784    1.307065
5                     Month     0.115567    1.122510
8          Distance to Work    -0.030257    0.970196
10  Daily Work Load Average    -0.038493    0.962239
12                Education    -0.072776    0.929809
6                   WeekDay    -0.217645    0.804411
9                       Age    -0.248701    0.779813
14                     Pets    -0.310568    0.733030
0                 Intercept    -1.703852    0.181981

In [45]:
#Creating custom scaler