In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/df-prep-fixed/df_prep (1).csv

In [2]:
df = pd.read_csv('/kaggle/input/df-prep-fixed/df_prep (1).csv',encoding='utf-8')
df.columns

Index(['Unnamed: 0', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours', 'Month', 'WeekDay', 'Year'],
      dtype='object')

In [3]:
df = df.drop(['Unnamed: 0'],axis=1)
df

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,WeekDay,Year
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,2015
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,2015
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,2015
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,2015
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,2018-05-23,179,22,40,237.656,22,1,2,0,8,5,2,2018
696,True,False,False,False,2018-05-23,225,26,28,237.656,24,0,1,2,3,5,2,2018
697,True,False,False,False,2018-05-24,330,16,28,237.656,25,1,0,0,8,5,3,2018
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,1,0,0,2,5,3,2018
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,0,1,1,2,5,3,2018

In [4]:
df['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(df['Absenteeism Time in Hours'] > 
                   df['Absenteeism Time in Hours'].median(),1, 0)

In [6]:
df['Excessive Absenteeism'] = targets
df

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,WeekDay,Year,Excessive Absenteeism
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,2015,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,2015,0
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,2015,0
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,2015,1
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,2018-05-23,179,22,40,237.656,22,1,2,0,8,5,2,2018,1
696,True,False,False,False,2018-05-23,225,26,28,237.656,24,0,1,2,3,5,2,2018,0
697,True,False,False,False,2018-05-24,330,16,28,237.656,25,1,0,0,8,5,3,2018,1
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,1,0,0,2,5,3,2018,0
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,0,1,1,2,5,3,2018,0

In [7]:
data_targetted = df.drop(['Absenteeism Time in Hours'],axis=1)

In [8]:
df

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,WeekDay,Year,Excessive Absenteeism
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,2015,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,2015,0
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,2015,0
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,2015,1
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,2018-05-23,179,22,40,237.656,22,1,2,0,8,5,2,2018,1
696,True,False,False,False,2018-05-23,225,26,28,237.656,24,0,1,2,3,5,2,2018,0
697,True,False,False,False,2018-05-24,330,16,28,237.656,25,1,0,0,8,5,3,2018,1
698,False,False,False,True,2018-05-24,235,16,32,237.656,25,1,0,0,2,5,3,2018,0
699,False,False,False,True,2018-05-31,291,31,40,237.656,25,0,1,1,2,5,3,2018,0